# 忽略 build 文件夹
build/

# 忽略 .vscode 文件夹
.vscode/

# Ignore build directory
datasets/*
best_mode/
saved_model_best/
components/*
!components/RL/
!components/RL/**
!components/plant_env/
!components/plant_env/**
!components/ml/
!components/ml/**

managed_components/
sdkconfig
sdkconfig.old
sdkconfig.bak
sdkconfig.bk
dependencies.lock
partitions_table.csv
partitions.csv
*.txt
components/bsp/version.h.rej
# Ignore generated model files
dependencies.lock
#variables.data-00000-of-00001
variables.data*
*.npy
*.npz
*.h5
*.zip